h1 {
    text-align: center;
    margin-top: 230px;
    font-size: 60px;

}

h1 span:nth-child(1) {
color:Aquamarine;
}
h1 span:nth-child(2) {
color:Aquamarine;
}
h1 span:nth-child(3) {
    color:Aquamarine;
    }
h1 span:nth-child(4) {
    color:Aquamarine;
    }
.search-bar{
    whidth: -100px;
}